<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="login-container">
    <div class="login-imagem">
      <img src="/img/salinha.png" alt="Foto da sala">
    </div>

    <div class="login-formulario">
      <img src="/img/checkin-room.png" class="logo" alt="Logo Checkin Room">

      <form action="/login" method="POST">
        <div class="input-icon email">
          <input type="email" name="email" placeholder="Email" required>
        </div>

        <div class="input-icon senha">
          <input type="password" name="senha" placeholder="Senha" required>
        </div>

        <button type="submit">LOGIN</button>
      </form>

      <p><a href="/cadastro">Ainda não tem conta?</a></p>
    </div>
  </div>
</body>
</html>
